/******section1*********/

.topcontainer {
  padding: 15% 15%;
  background-color: #0779e4;
}

.h1-styles {
  padding-top: 10%;
  font-family: 'Galada', sans-serif, cursive;
  text-shadow: 5px 0 #EEEEEE;
  font-size: 8rem;
  color: #07031a;
  text-align: center;
  padding-bottom: 10%;
}

h3 {
  text-align: center;
  font-style: italic;
}

p {
  font-size: 2rem;
  color: #07031a;
  font-family: 'Ubuntu', sans-serif;
  line-height: 2.5rem;
}

.btn {
  margin-left: 40%;
  margin-right: 40%;
}

/******section2************/
.middlecontainer {
  padding: 15% 10%;
}

.dice {
  padding-top: 5%;
  text-align: center;
  left: 50%;
  top: 50%;
  padding-bottom: 5%;
}

/***section3*************/
footer {
  padding: 5% 5%;
  margin-top: 5%;
  color: #ffffff;
  text-align: center;
  background-color: #0779e4;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
}
