/******section1*********/
.topcontainer {
  padding: 15% 5%;
  background-color: #0779e4;
  text-align: center;
}

#title h1 {
  font-family: 'Galada', sans-serif, cursive;
  text-shadow: 5px 0 #EEEEEE;
  font-size: 8rem;
  color: #07031a;
  padding-bottom: 10%;
}

h3 {
  text-align: center;
  font-style: italic;
}

p {
  font-size: 2rem;
  color: #07031a font-family: 'Ubuntu', sans-serif;
  line-height: 2.5rem;
}

#color {
  text-decoration: none;
}

/******section2************/
#media {
  text-align: center;
  padding-top: 10%;
}

.dice {
  padding: 3% 3% 3% 3%;
  text-align: center;
  display: inline-block;
}

/***section3*************/
footer {
  padding: 5% 5%;
 margin-top: 5%;
  color: #ffffff;
  text-align: center;
  background-color: #0779e4;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
}
